@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:purple" class="display-4"><strong>İskenderiye Kütüphanesine Hoşgeldiniz</strong></h1>
    <br />
    <br />
    <p><img width="%100" height="auto" src="/img/img1.jpg" /></p>
</div>
